<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Startup:</strong>
  <%= @review.startup.name %>
</p>
<% if @review.startup.nil? %>
  <%= link_to 'Back', reviews_path %>
<% else %>
  <%= link_to 'Back', @review.startup %>
<% end %> |
<%= link_to 'Edit', edit_review_path(@review) %>
